		<footer>
			<form action="/submit" method="post">
				<fieldset><legend>HEY TONY!!!! JOIN HERE: <br><span class="fields">All fields required</span></legend>
						<label for = name, class = "fields">Name:</label>
						<input id = name, type="text" name="name" placeholder="AcidTone"><br>
						<label for = email class = "fields">Email:</label>
						<input id =email, type="email" name="email" placeholder="AcidTone@SAIT.com" required><br>
						<input id="sub-button" type="submit" value="SUBMIT HERE TONY">
				</fieldset>
			</form>
			<section>
					<img class="media" src="images/fbook.svg" alt="facebooklink">
					<img class="media" src="images/instag.svg" alt="instagramlink">
					<img class="media" src="images/twit.svg" alt="twitterlink">
			</section>
		</footer>
		<script src="java/header.js"></script>
	</body>
</html>	