<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Submit</title>
				<link rel="stylesheet" href="css/header.css">
				<link rel="stylesheet" href="css/styles.css">
				<link rel="stylesheet" href="css/footer.css">
    </head>
    <body>
			<header>
					<nav>
							<div class="wrapper">
									<div class="logo"><img src="images/bomb.png" alt="Logo"></div>
											<ul id="menu">
											<div id="close" class="close"><img src="images/close.svg" alt="close"></div>
													<li><a href="/">Home</a></li>
													<li><a href="about">About</a></li>
													<li><a href="contact">Contact</a></li>
											</ul>
									<div id="menu-button" class="menu"><img src="images/menu.svg" alt="menu-button"></div>
							</div>
					</nav>
			</header>
			<main>
					<h1 id="response">Thank you <%= name %> we will be responding to you soon with <%= email %></h1>
					<div id="hero"></div>
			</main>
<%- include partials/footer %>